DISCORD_TOKEN=DISCORD_BOT_TOKEN #https://discord.com/developers/applications/ -> BOT -> TOKEN
DISCORD_CLIENT_ID=APPLICATION_ID #https://discord.com/developers/applications/ -> GENERAL INFORMATION -> APPLICATION ID
DISCORD_GUILD_ID=YOUR_DISCORD_SERVER_ID #DEVELOPER MODE -> RIGHT CLICK -> SERVER ID

CLAN_MEMBER_ROLE_ID=YOUR_ROLE_ID #ID OF THE ROLE TO ASSIGN THROUGH VALIDATED APPLICATION = DEVELOPER MODE -> RIGHT CLICK -> ROLE ID
STAFF_APPLICATION_FORUM_ID=YOUR_FORUM_CHANNEL_ID #ID OF THE CHANNEL TO POST APPLICATIONS = DEVELOPER MODE -> RIGHT CLICK -> CHANNEL ID